@page "/"
@using MediatR
@using MessageBrokers.Notifications
@using MessageBrokers.Services
@inject IMediator Mediator
@inject RabbitListener RabbitListener

<section id="main" role="main">
    <div class="chat">
        <i class="avatar face12"></i>
        <input type="text" placeholder="Type your message..." bind="@messageInput" />
        <button onclick="@SendMessage">Send</button>
    </div>

    <p class="presence"></p>
    <div class="output">
        @foreach (var message in messages)
        {
            <p><i class="material-icons">home</i><span>@message</span></p>
        }
    </div>
</section>

@functions {

    string messageInput = "";

    List<string> messages = new List<string>();

    void SendMessage()
    {
        RabbitListener.Register();
        Mediator.Publish(new Command() { Message = messageInput });
        messages.Add(messageInput);
    }
}
