@page "/"
@using MediatR
@using MessageBrokers.Notifications
@inject IMediator Mediator

<section id="main" role="main">
    <div class="chat">
        <i class="avatar face12"></i>
        <input type="text" placeholder="Type your message...">
        <button>Send</button>
    </div>

    <p class="presence"></p>
    <div class="output">
        <p><i class="material-icons">home</i><span>Test message</span></p>
    </div>
</section>

@functions {
    protected override async Task OnInitAsync()
    {
        Mediator.Publish(new Command() { Message = "Demo Message" });
    }
}
