@page "/"
@using MediatR
@using MessageBrokers.Notifications
@inject IMediator Mediator

@functions {
    protected override async Task OnInitAsync()
    {
        Mediator.Publish(new Event() { Message = "Demo Message" });
    }
}

<h1>Events</h1>

<ol>
    <li>SignalR</li>
    <li>MediatR</li>
    <li>Redis publish/subscribe</li>
    <li>RabbitMQ</li>
</ol>
